<!-- Archivo 1: dashboardAdmin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/user.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dashboardAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Agrega el enlace a FontAwesome -->
    <title>Panel de Administrador</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <i class="fas fa-cogs settings-icon" id="settings-icon"></i> <!-- Icono de ajustes -->
        <h2>Opciones</h2>
        <ul>
            <li><i class="fas fa-chart-line"></i> <a href="/admin">Dashboard</a></li>
            <li><i class="fas fa-users"></i> <a href="/admin/users">Usuarios Registrados</a></li>
            <li><i class="fas fa-users"></i> <a href="/admin/partida">Partidas Registradas</a></li>
            <li><i class="fas fa-file-download"></i> <a href="/download_report">Descargar Informes</a></li>
            <li><i class="fas fa-sign-out-alt"></i> <a href="/">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="content" id="content">
        <header>
            <h1>Panel para Administrador</h1>
        </header>
        <main>
            <!-- Contenido del Dashboard aquí -->
        </main>
    </div>

    <script src="/static/js/dashboardAdmin.js"></script>
</body>
</html>
